<?xml version="1.0"?>
<!-- This is a sample lanuch file, please change it based on your needs -->
<launch>
    <node name="joy_node" pkg="joy" type="joy_node" output="screen" />
    <node name="keyboard_controller" pkg="autoland_pid" type="keyboard_controller.py" output="screen" />
    <node name="joystick_controller" pkg="autoland_pid" type="joystick_controller.py" output="screen" />
    <node name="ardrone_pid_timer" pkg="autoland_pid" type="ardrone_pid_timer.py" output="screen" />
</launch>
